@font-face {
    font-family: 'PermanentMarker';
    src: url('../fonts/PermanentMarker.ttf');
}

.titulo-conteudo {
position: absolute;
width: 100%;
background-color: transparent;
z-index: 99;
}
.titulo-conteudo .container {
    background-color: transparent;
}

h2{
    font-family:PermanentMarker;
    color: #000;
    margin: 1em auto;
}
h3, h4, h5{
    font-family:PermanentMarker;
    color: #000;
    margin: 1em auto;
}
#booklet{position: relative;}

/*paginação*/
footer li.active a {
color: #fff;
background-color: #00838D;
}
.pagination .active {
transform: translateY(-8px);
pointer-events:none;
}
footer a:visited {
color: #7a7a7a;
background-color: #c4c4c4;
}

.container{
padding-left: 40px;
padding-right: 40px;
}

.pg1, .pg2, .pg3, footer.container{
background:url(../img/bg.jpg);
background-attachment: fixed;
}

.bloco1{
padding-top: 5%;
padding-bottom: 5%;
}

footer.container{
position: absolute;
left: 0px;
right: 0px;
z-index: 2;
bottom: 0px;
margin: auto;
background: #fff;

}


.conteudo_postit{
background: url(../img/destaque2_postit.png);
background-repeat: no-repeat;
background-size: 100%;
padding: 15px 15px;
margin: -5px 0;
width:372px;
height: 185px;
background-position: relative center;
margin: auto;
}
.conteudo_infografico{
background: url(../img/infografico.png);
background-repeat: no-repeat;
background-size: 100%;
width: 629px;
height:1086px;
background-position: relative center;
margin: auto;
}
.texto1-infografico
{
padding-right: 249px;
border-left-width: 0px;
padding-left: 57px;
padding-top: 140px;
position: relative;
}
.texto2-infografico{
padding-left: 400px;
padding-top: 74px;
padding-right: 30px;
}

.texto3-infografico{
padding-top: 80px;
padding-left: 28px;
padding-right: 287px;
}
.texto4-infografico{
    padding-left: 265px;
    padding-top: 90px;
    padding-right: 158px;
}

.pg3
{
    background:url('../img/img_esq.png') left, url('../img/img_dir.png') right, url('../img/bg.jpg');
    background-repeat: no-repeat;
}

.pg4{
    background: url('../img/bg_ref.jpg');
    background-repeat: no-repeat;
    width: 1920px;
    height:1080px;

}

.bloco_ref{
    background: url('../img/postit_ref.png');
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-left: 162px;
    padding-right: 963px;
    padding-bottom: 20px;
}


@media screen and (max-width: 430px){
    .conteudo_infografico{
       background:url(../img/infografico_layout.png);
       background-repeat: no-repeat;
       background-size: 100%;
       width: 629px;
       height:1086px;
       background-position: relative center;
       margin: auto;
    }
.texto1-infografico, .texto2-infografico, .texto3-infografico, .texto4-infografico{
    display: none;
}
.bloco1{
    padding-top: 15%;
    padding-bottom: 5%;
    }
}

