@font-face {
    font-family: 'PermanentMarker';
    src: url('../fonts/PermanentMarker.ttf');
}

.titulo-conteudo {
position: absolute;
width: 100%;
background-color: transparent;
z-index: 99;
}
.titulo-conteudo .container {
    background-color: transparent;
}

h2{
    font-family:PermanentMarker;
    color: #000;
    margin: 1em auto;
}
h3, h4, h5{
    font-family:PermanentMarker;
    color: #000;
    margin: 1em auto;
}
#booklet{position: relative;}
.pagina .container:last-child{padding-bottom: 100px;}

/*paginação*/
footer li.active a {
color: #fff;
background-color: #00838D;
}
.pagination .active {
transform: translateY(-8px);
pointer-events:none;
}
footer a:visited {
color: #7a7a7a;
background-color: #c4c4c4;
}

.container{
padding-left: 40px;
padding-right: 40px;
}

.pg1, .pg2, .pg3, .pg4{
background:url(../img/bg.jpg);
background-attachment: fixed;
}

.bloco1{
padding-top: 5%;
padding-bottom: 5%;
}

footer.container{
position: absolute;
left: 0px;
right: 0px;
z-index: 2;
bottom: 0px;
margin: auto;

}

.conteudo_postit{
background: url(../img/destaque2_postit.png);
background-repeat: no-repeat;
background-size: 100%;
padding: 15px 15px;
margin: -5px 0;
width:372px;
height: 185px;
background-position: relative center;
margin: auto;
}
.conteudo_infografico{
background: url(../img/infografico.png);
background-repeat: no-repeat;
background-size: 100%;
width: 629px;
height:1086px;
background-position: relative center;
margin: auto;
}
.texto1-infografico
{
padding-right: 249px;
border-left-width: 0px;
padding-left: 57px;
padding-top: 140px;
position: relative;
}
.texto2-infografico{
padding-left: 400px;
padding-top: 74px;
padding-right: 30px;
}

.texto3-infografico{
padding-top: 80px;
padding-left: 28px;
padding-right: 287px;
}
.texto4-infografico{
padding-left: 265px;
padding-top: 90px;
padding-right: 158px;
}

.pg1{
background: url('../img/notepad.png') left top no-repeat, url('../img/teclado.png') right top no-repeat, url('../img/martelocalculadora.png') right center no-repeat, url('../img/bg.jpg');
background-size:25%, 25%, 20%, 100%;
}

.pg1 .bloco-recapitulando{
background: url('../img/pinceis.png') left top no-repeat;
background-size: 20%;
}

.pg1 .blocopg1{
background: url('../img/notepad.png') left
}

/*pg2*/
.pg2{
background:url('../img/img_esqpg2.png') left top no-repeat, url('../img/img_dirpg2.png') right top no-repeat, url('../img/img2_dir.png') right center no-repeat, url('../img/img4_dir.png') right bottom no-repeat, url('../img/bg.jpg');
background-size: 25%, 20%, 20%, 20%, 100%;
}

.pg2 .blocopg-2{
background: url('../img/img3_esq.png') left top no-repeat;
background-size: 20%;
}
.painelbt1:hover{
background: url(../img/painel1_bt1_hover.png);
background-repeat: no-repeat;
z-index: 4;
}

.pg2.img-painel1, .img-painel2, .img-painel3, .img-painel4{
position: relative;
z-index: 3;
}

.pg2 .container .painel-caracteristicas{
padding-right: 0px;
padding-left: 0px;
margin-left: 0px;
margin-right: 0px;
}

.btn{
    padding: 0em;
}
.card{
    background-color:#00838D;
}

.text-card{
    color: #fff;
}

/*pg3*/
.pg3
{
    background:url('../img/img_esq.png') left, url('../img/img_dir.png') right, url('../img/bg.jpg');
    background-repeat: no-repeat;
}

/*pg4*/

.pg4{
    background: url('../img/bg.jpg') center repeat;
    height: 100%;
}


@media screen and (max-width: 450px){
    .conteudo_infografico{
        display: none;
    }
   .conteudo_mobile{
    background:url(../img/infografico_mobile_linha.png) no-repeat;
    background-position: left center;
    background-size: 2.5%;
   }
   
   .texto1_mobile, .texto2_mobile, .texto3_mobile, .texto4_mobile{
    padding-left: 10%;
   }
   .texto4_mobile{
    padding-bottom: 10%;
   }
   .img1-mobile, .img2-mobile, .img3-mobile, .img4-mobile
   {
   margin-left: -25px;
   }

.bloco1{
    padding-top: 15%;
    padding-bottom: 5%;
    }
.painel-caracteristicas{
    display: none;
}
.painel-estar-atualizado{
    display: none;
}
}

@media screen and (min-width: 451px){
    .conteudo_mobile{
        display: none;
    }
    .painel-caracteristicas-mobile{
        display: none;
    }
    .estar-atualizado-mobile{
        display: none;
    }
}
    