body{
    background: url('../img/bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.container-fluid{
    background: url('../img/bg_2oplano.png') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    z-index: 5;
    position: absolute;
}
.elementos-atras{
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    position: absolute;
}
.elementos-atras img, .elementos-frente img{
    position: absolute;
    margin: auto;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.elementos-atras .fita{
    animation-name: movFita;
}
.elementos-atras .caderno{
    animation-delay: .3s;
    animation-name: movCaderno;
}
.elementos-atras .martelo{
    animation-delay: .6s;
    animation-name: movMartelo;
}
.elementos-atras .celular{
    animation-delay: .9s;
    animation-name: movCelular;
}
.elementos-atras .capacete{
    animation-delay: 1.2s;
    animation-name: movCapacete;
}
.elementos-atras .laptop{
    animation-delay: 1.5s;
    animation-name: movLaptop;
}
.elementos-atras .tesoura{
    animation-delay: 1.8s;
    animation-name: movTesoura;
}

@keyframes movFita {
    from   {
        left: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        left: 12%;
        top: 45%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movCaderno {
    from   {
        left: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        left: 15%;
        top: 15%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movMartelo {
    from   {
        left: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        left: 12%;
        top: 0;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movCelular {
    from   {
        left: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        left: 30%;
        top: -10%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movCapacete {
    from   {
        right: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        right: 15%;
        top: -15%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movLaptop {
    from   {
        right: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        right: 10%;
        top: 10%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movTesoura {
    from   {
        right: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        right: 22%;
        top: 40%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
.elementos-frente{
    z-index: 6;
    width: 100%;
    min-height: 100vh;
    position: absolute;
}
.elementos-frente .pinceis{
    animation-delay: 2.1s;
    animation-name: movPinceis;
}
.elementos-frente .canetas2{
    animation-delay: 2.4s;
    animation-name: movCanetas2;
}
.elementos-frente .cafe{
    animation-delay: 2.7s;
    animation-name: movCafe;
}
.elementos-frente .parafusadeira{
    animation-delay: 3s;
    animation-name: movParafusadeira;
}
.elementos-frente .canetas{
    animation-delay: 3.3s;
    animation-name: movCanetas;
}
.elementos-frente .calculadora{
    animation-delay: 3.6s;
    animation-name: movCalculadora;
}
.elementos-frente .trena{
    animation-delay: 3.9s;
    animation-name: movTrena;
}

@keyframes movPinceis {
    from   {
        left: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        left: 28%;
        top: 10%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movCanetas2 {
    from   {
        left: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        left: 37%;
        top: 0%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movCafe {
    from   {
        left: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        left: 42%;
        top: 16%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movParafusadeira {
    from   {
        left: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        left: 42%;
        top: -17%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movCanetas {
    from   {
        right: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        right: 25%;
        top: -10%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movCalculadora {
    from   {
        right: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        right: 44%;
        top: 43%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}
@keyframes movTrena {
    from   {
        right: 40%;
        top: 40%;
        height: 0;
        width: 0;
        opacity: 0;
    }
    to  {
        right: 10%;
        top: 43%;
        height: auto;
        width: auto;
        opacity: 1;
    }
}

.bt-titulo{
    background: url('../img/titulo.png') no-repeat center;
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 150px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}
.bt-titulo:hover{
    background: url('../img/titulo_ativo.png') no-repeat center, url('../img/titulo.png') no-repeat center;
    background-size: contain;
}
.div-btVideo{
    width: 280px;
    bottom: 1%;
    right: 1%;
    position: absolute;
    z-index: 15;
    cursor: pointer;
}
.texto-video{
    color: #000;
    font-size: 20px;
    line-height: 22px;
    text-shadow: #fff 3px 2px 0px;
    font-weight: bold;
}
.btVideo{
    background: url('../img/bt-video.png') no-repeat;
    width: 128px;
    height: 127px;
    border: none;
    background-size: contain;
    display: block;
    margin: 10px auto;
    transition: all 0.2s;
}
.btVideo:hover {
    transform: scale(1.1);
}
.modal-dialog .modal-content{
    background: url('../img/Video-apresentacao-gd.png') no-repeat center;
    width: 1133px;
    height: 708px;
    border: none;
    padding: 100px 200px;
}
.modal-dialog .modal-content p,
.btn-close{
    color: #fff;
    clear: both;
    margin-bottom: 20px;
}
@media screen and (max-width: 1480px){
    .elementos-atras, .elementos-frente{
        transform: scale(0.8);
        margin-top: -5%;
    }
    .btVideo{transform: scale(0.8);}
}
@media screen and (max-width: 1400px){
    .modal-dialog .modal-content{
        background-position: center;
        width: unset;
        max-width: 100%;
        padding: 50px;
        background: #007981;
    }
}
@media screen and (max-width: 1080px){
    .bt-titulo{width: 60%;}
    .btVideo{
        transform: scale(0.7);
        margin-top: -10%;
    }
}

@media screen and (max-width: 780px){
    body{
        background: url('../img/capa_mob.png') no-repeat center;
        background-size: cover;
    }

    .elementos-atras, .elementos-frente, .container-fluid, .texto-video{display: none;}

    .div-btVideo{
        bottom: unset;
        top: 10px;
        right: 0;
        width: 110px;
    }
    .bt-titulo{
        background: none;
        height: 50vh;
        width: 100%;
    }
    .bt-titulo:hover{
        background: url('../img/titulo_ativo_mobile.png') no-repeat center;
    }
}